html
{
background-image: url('/home/webdev/Markdown Previewer/src/assets/alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg');
background-size: cover;
background-repeat: no-repeat; 
}

#MDText 
{
  font-size: 4rem; 
  font-weight: 700; 
  text-align: center; 
  padding: 1.75rem; 
  background-image: linear-gradient(to right, #1d4ed8, #dc2626); 
  color: transparent; 
  background-clip: text; 
  opacity: 0.9; 
}

.logo 
{
  width: 14em;
  height: 5em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

#MDText:hover
{
  filter: drop-shadow(0 0 1em #f7f8fd);
  color: #cccdff
}

.reactlogo:hover 
{
  filter: drop-shadow(0 0 2em #53daffe7);
}

.vitelogo:hover 
{
  filter: drop-shadow(0 0 2em #7a80fcdc);
}

.css3logo:hover {
  filter: drop-shadow(0 0 2em #56c4e2b9);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .reactlogo {
    animation: logo-spin infinite 5s linear;
  }
}

@keyframes bobUpAndDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); 
  }
}

.vitelogo 
{
  animation: bobUpAndDown 2s ease-in-out infinite; 
}

@keyframes swayLeftToRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.css3logo {
  animation: swayLeftToRight 2s ease-in-out infinite; 
}

.boxes-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 38px;
  width: 92%;
}

#editor {
  width: 100%;
  height: 82vh;
  font-size: 19px;
  background-color: #1a1a1adf;
  resize: none;
  color: #f7f7f7;
  padding: 20px;
  overflow: auto;
  border-radius: 19px;
}

#preview {
  width: 100%;
  height: 82vh;
  font-size: 19px;
  background-color: #0a0a0aed;
  color: #f7f7f7;
  padding: 20px;
  margin-top: 10px;
  overflow: auto;
  border-radius: 19px;
}

.logo 
{
width: 100px;
}

img
{
  width: 100%;
}

@media screen and (min-width: 768px) {
  .boxes-container {
    flex-direction: row;
    width: 80%;
  }

  #editor {
    width: 50%;
    height: 80vh;
    margin-right: 10px;
  }

  #preview {
    width: 50%;
    height: 80vh;
    margin-left: 10px;
    margin-top: 0;
  }
}

table
{
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

th, td
{
  text-align: center;
}

.techstack
{

  font-size: 1.875rem; 
  font-weight: bold;  
  color: #f9f9f9;
}

footer
{
  margin: -8px;
  padding: 1em;
  text-align: center;
  background-color: #1a1a1abb;
  resize: none;
  color: #707070;
  
  
}

footer a 
{
  color: #707070;
  text-decoration: none; 
}

#rs
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: red;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-indent: 1em;
}